.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.react-flow__node-messageNode {
  border-radius: 10px;
}
.react-flow__node-messageNode.selected {
  box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.1) !important;
}